<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Er kaffen klar?</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        body{
          background: #2e2e2e;
        }
        .jumbotron{
          background: #fafafa;
          margin-top: 30px;
        }
        .documentation,
        .clients h2{
          color: #fafafa;
        }
        .clients .well{
          min-height: 180px; 
        }
        .btn-success{
          background: #ec483c;
          border: #e23e32;
        }
        .btn-success:hover{
          background: #d83428;
        }
        .coffe-statistics{
            color:#fafafa;
        }
        #chart{
            background: #f5f5f5;
            border-radius: 4px;
        }
    </style>
  </head>

  <body>
    <a href="https://github.com/webkom/coffee"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div class="container">

      <div class="jumbotron">
        <h1>Er kaffen klar?</h1>
        <p id="status" class="lead"></p>
        <p><a class="btn btn-lg btn-success btn-update" href="#" data-role="button">Oppdater</a></p>
      </div>

      <div class="row coffe-statistics">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <h2>Antall traktede kaffekanner</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <canvas class="col-xs-12 col-md-12 col-lg-12" id="chart" width="700" height="300"></canvas>
        </div>
      </div>

      <div id="docs" class="row documentation">
        <div class="col-sm-12"><h2>API</h2></div>
        <div class="col-sm-6">
          <h4>GET <a href="http://kaffe.abakus.no/api/status">/api/status</a></h4>
          <p>Returner data om sist gang kaffetrakteren var på.</p>
          <strong>Eksempel</strong>
          <pre><code>
    {
      "coffee": {
        "status": true,
        "last_start": "2012-12-12 12:12",
        "time_since": {
          "hours": 0,
          "minutes": 0
        }
      }
    }
          </code></pre>
        </div>
        <div class="col-sm-6">
          <h4>GET <a href="http://kaffe.abakus.no/api/stats">/api/stats</a></h4>
          <p>Returnerer statistikk om bruket av kaffetrakteren.</p>
          <strong>Eksempel</strong>
          <pre><code>
    {
      "stats": {
        "2012-12-12": 3,
        "2012-12-13": 1,
        "2012-12-14": 7
      }
    }
          </code></pre>
        </div>
     </div>

      <div id="clients" class="row clients">
        <div class="col-sm-12"><h2>Klienter</h2></div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="well">
            <h3>abakaffe-cli</h3>
            <iframe src="http://ghbtns.com/github-btn.html?user=oyvindrobertsen&repo=abakaffe-cli&type=watch"
                allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=oyvindrobertsen&repo=abakaffe-cli&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
              <div><code>pip install abakaffe-cli</code></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="well">
            <h3>abakaffe-android</h3>
            <iframe src="http://ghbtns.com/github-btn.html?user=ftlno&repo=abakaffe-android&type=watch"
                allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=ftlno&repo=abakaffe-android&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
              <div><a href="https://play.google.com/store/apps/details?id=no.ftl.abakaffe">Google Play</a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="well">
            <h3>AbakaffeNotifier</h3>
            <iframe src="http://ghbtns.com/github-btn.html?user=Essoen&repo=AbakaffeNotifier&type=watch"
                allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=Essoen&repo=AbakaffeNotifier&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
            <div>&nbsp;</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="well">
            <h3>abaapp</h3>
            <iframe src="http://ghbtns.com/github-btn.html?user=cristeahub&repo=abaapp&type=watch"
                allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=cristeahub&repo=abaapp&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
            <div>&nbsp;</div>
          </div>
        </div>

       <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="well">
            <h3>abakaffe-irc</h3>
            <iframe src="http://ghbtns.com/github-btn.html?user=ekmartin&repo=abakaffe-irc&type=watch"
                allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=ekmartin&repo=abakaffe-irc&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                <div>&nbsp;</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="well">
            <h3>alfred-abakaffe</h3>
            <iframe src="http://ghbtns.com/github-btn.html?user=relekang&repo=alfred-abakaffe&type=watch"
                allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=relekang&repo=alfred-abakaffe&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
              <div><a href="https://github.com/relekang/alfred-abakaffe/raw/master/abakaffe.alfredworkflow">
                  Last ned
              </a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="well">
            <h3>online noitifier</h3>
            <iframe src="http://ghbtns.com/github-btn.html?user=dotKom&repo=online-notifier&type=watch"
                allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=dotKom&repo=online-notifier&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
              <div><a href="https://chrome.google.com/webstore/detail/online-notifier/hfgffimlnajpbenfpaofmmffcdmgkllf?hl=no">
                  Innstaller
              </a></div>
          </div>
        </div>
 
     </div>


    </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/nb.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>

  <script type="text/javascript">
    moment.lang('nb');
    var updating = false;
    function updateStatusText(data){
      $('#status').html(
        'Kaffetrakteren er ' +
        ( data.status ? 'på' : 'av' ) +
        '. Den ble sist skrudd på ' +
        moment(data.last_start, 'YYYY-MM-DD HH:mm').fromNow() + '.'
      );
    }
    function updateStatus(){
      updating = true;
      $.getJSON('/api/status', function(data){
        updateStatusText(data.coffee);
        updating = false;
      });
    }
    $('.btn-update').on('click', function(e){
        e.preventDefault();
        if (!updating) {
          updateStatus(); 
        }
    });
    $.getJSON('/api/stats', function(data){
      var c = $('#chart'),
        ctx = c.get(0).getContext('2d'),
        chart = new Chart(ctx),
        transform = function(d) {
          var out = {
              labels: [],
              datasets: []
            },
            dataset = {
              fillColor : 'rgba(220,220,220,0.5)',
              strokeColor : '#ec483c',
              pointColor : '#ec483c',
              pointStrokeColor : '#e23e32',
              data : []
            };
          for(var k in d){
            out.labels.push(k)
          }
          out.labels.sort();
          for(var i = 0; i < out.labels.length; i++){
            dataset.data.push(parseInt(d[out.labels[i]], 10));
          }
          out.datasets.push(dataset);
          console.log(out);
          return out;
        };
      chart.Line(transform(data.stats), {
        animation: false
      });
      c.css('width', '');
    });

    updateStatus();
  </script>
  </body>
</html>
