body{
  background: #2e2e2e;
}
a {
  color: #e23e32;
}
a:hover {
  color: #AF0B00;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background: #e23e32;
  border-color: #e23e32;
}
.jumbotron{
  background: #fafafa;
  margin-top: 30px;
}
.documentation,
.clients h2{
  color: #fafafa;
}
.clients .well{
  min-height: 180px;
}
.btn-success{
  background: #ec483c;
  border: #e23e32;
}
.btn-success:hover {
  background: #d83428;
}
.coffe-statistics{
  color:#fafafa;
}
canvas{
  max-width: 100%;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 10px;
}
